<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ProjF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05043AEE30264014A9409F9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13A2D19C59624790B2369B7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E5A98D9EB541249B96476F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AF0501B4F76420F943F1ADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1F7BEA16F97459296C4549E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC59E83731D5404095C9CA82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
